html,
body {
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "PT Serif", serif;
}

.App {
  flex: 1 0 auto;
  padding: 5px;
}

p {
  padding-right: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 10px !important;
  padding-right: 10px !important;
}

.blog_post {
  margin: 10px;
  padding: 10px;
}

.account_info {
  margin-top: 20px !important;
  padding-top: 20px !important;
}

.form-label {
  padding-top: 20px !important;
  margin-top: 20px !important;
}

.like {
  font-size: 1, 5rem;
}

.close {
  width: 50px;
  height: 50px;
}
